/* --- Header --- */
header{
background-color: #a1a2a3!important;
text-align: center;
font-size: 1.4em;
}
header .navbar-brand{
	font-size: 1.5em;
}
div > ul{
	margin: 0px!important;
	padding: 0px!important;
}
div >ul >li{
	border:1px solid black;
}
#main-heading{
	font-family: cursive;
}
/*   ---main content---  */
.main-content{
	background-color: #a1a2a3;	
}